Form{
    width: 70%;
    margin: auto;
}

Form .But{
   
    margin-left: 40%;
}

Label{
    
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

/* .bottum{
    background-color: whitesmoke;
} */

input{
    border: 0!important;
    box-shadow: none!important; 

}